*{
    margin: 0;
    padding: 0;
}
.navbar{
    padding:10px 10%;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 4px 2px gray;

}
.right_nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left_nav{
    display: flex;
    align-items: center;
    gap: 15px;
}